openapi: 3.0.1
info:
  title: xREL API
  description: xREL API Definition for JSON
  version: 1.0.0
externalDocs:
  description: Find out more about xREL
  url: https://xrel.to
servers:
- url: https://api.xrel.to/v2
tags:
- name: release/info
  description: Returns information about a single release, specified by the complete
    dirname or an API release id. [Find out more](https://www.xrel.to/wiki/1680/api-release-info.html)
- name: release/latest
  description: Returns the latest releases. Also allows to browse the archive by month.
    [Find out more](https://www.xrel.to/wiki/2994/api-release-latest.html)
- name: release/categories
  description: Returns a list of available release categories. You can use the category
    name in [release/browse_category](https://www.xrel.to/wiki/3751/api-release-browse-category.html).
    [Find out more](https://www.xrel.to/wiki/6318/api-release-categories.html)
- name: release/browse_category
  description: Returns scene releases from the given category. [Find out more](https://www.xrel.to/wiki/3751/api-release-browse-category.html)
- name: release/ext_info
  description: Returns all releases associated with a given Ext Info. [Find out more](https://www.xrel.to/wiki/2822/api-release-ext-info.html)
- name: release/filters
  description: Returns a list of public, predefined release filters. You can use the
    filter ID in [release/latest](https://www.xrel.to/wiki/2994/api-release-latest.html).
    [Find out more](https://www.xrel.to/wiki/2996/api-release-filters.html)
- name: release/addproof
  description: Adds a proof picture to a given API release id. More info on proof
    pictures can be found [here](https://www.xrel.to/wiki/6305/Proofs.html). [Find
    out more](https://www.xrel.to/wiki/6444/api-release-addproof.html).
- name: p2p/releases
  description: Browse P2P/non-scene releases.
              Please note that the latest release list does NOT return a total number of pages.
              Around 1000 releases are available for browsing in that mode. per_page continues to work.
              [Find out more](https://www.xrel.to/wiki/3699/api-p2p-releases.html)
- name: p2p/categories
  description: Returns a list of available P2P release categories and their IDs. You can use the category ID in [p2p/releases](https://www.xrel.to/wiki/3699/api-p2p-releases.html). [Find out more](https://www.xrel.to/wiki/3698/api-p2p-categories.html)
- name: p2p/rls_info
  description: Returns information about a single P2P/non-scene release, specified by the complete dirname or an API P2P release id. [Find out more](https://www.xrel.to/wiki/3697/api-p2p-rls-info.html)
- name: nfo/release
  description: Returns an image of a NFO file for a given API release id. Please cache the file on your device. You may not modify the image in any way or hide the footer.
- name: calendar/upcoming
  description: Returns a list upcoming movies and their releases.
- name: ext_info/info
  description: Returns information about an Ext Info.
- name: ext_info/media
  description: Returns media associated with an Ext Info.
- name: ext_info/rate
  description: Rate an Ext Info.
- name: search/releases
  description: Searches for Scene and P2P releases. Please note that additional search rate limiting applies. See [here](https://www.xrel.to/wiki/2727/api-rate-limiting.html) for details.
- name: search/ext_info
  description: Searches for Ext Infos. Please note that additional search rate limiting applies. See [here](https://www.xrel.to/wiki/2727/api-rate-limiting.html) for details.
paths:
  /release/info.json:
    get:
      tags:
      - release/info
      description: One of the two parameters is required.
      operationId: getReleaseInfoJSON
      parameters:
      - name: id
        in: query
        description: f638d1cfec8d
        schema:
          type: string
      - name: dirname
        in: query
        description: Keinohrhasen.German.AC3.DVDRip.XviD-CRUCiAL
        schema:
          type: string
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/release'
  /release/latest.json:
    get:
      tags:
      - release/latest
      description: Returns the latest releases. Also allows to browse the archive
        by month.<br/><br/>Please note that the latest release list with no archive
        defined does NOT return a total number of pages. Around 1000 releases are
        available for browsing in that mode. per_page continues to work.
      operationId: getLatestReleasesJSON
      parameters:
      - name: archive
        in: query
        description: 'Empty = current releases, YYYY-MM for archive. (Default: Empty)'
        schema:
          type: string
      - name: per_page
        in: query
        description: 'Number of releases per page. Min. 5, max. 100. (Default: 25)'
        schema:
          maximum: 100
          minimum: 5
          type: integer
      - name: filter
        in: query
        description: Filter ID (from [release/filters](#/paths/release/filters)
          or overview to use the currently logged in user's overview filter.
        schema:
          type: string
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/releases'
  /release/categories.json:
    get:
      tags:
      - release/categories
      description: Returns a list of available release categories. You can use the
        category name in [release/browse_category](https://www.xrel.to/wiki/3751/api-release-browse-category.html)<br/><br/>You
        should avoid calling this method repeatedly and cache its result for at least
        24 hours (where possible).
      operationId: getReleasesCategoriesJSON
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/categories'
  /release/browse_category.json:
    get:
      tags:
      - release/browse_category
      description: Returns scene releases from the given category.
      operationId: getReleasesBrowseCategoriesJSON
      parameters:
      - name: category_name
        in: query
        description: Category name from [release/categories](https://www.xrel.to/wiki/6318/api-release-categories.html)
        required: true
        schema:
          type: string
      - name: ext_info_type
        in: query
        description: 'Use one of: movie|tv|game|console|software|xxx - or leave empty
          to browse releases of all types'
        schema:
          type: string
      - name: per_page
        in: query
        description: 'Number of releases per page. Min. 5, max. 100. (Default: 25)'
        schema:
          maximum: 100
          minimum: 5
          type: integer
      - name: page
        in: query
        description: 'Page number (1 to N). (Default: 1)'
        schema:
          type: integer
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/releases'
  /release/ext_info.json:
    get:
      tags:
      - release/ext_info
      description: Returns all releases associated with a given Ext Info.
      operationId: getReleasesExtInfoJSON
      parameters:
      - name: id
        in: query
        description: f638d1cfec8d
        schema:
          type: string
      - name: per_page
        in: query
        description: 'Number of releases per page. Min. 5, max. 100. (Default: 25)'
        schema:
          maximum: 100
          minimum: 5
          type: integer
      - name: page
        in: query
        description: 'Page number (1 to N). (Default: 1)'
        schema:
          type: integer
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ext_info'
  /release/filters.json:
    get:
      tags:
      - release/filters
      description: Returns a list of public, predefined release filters. You can use
        the filter ID in [release/latest](https://www.xrel.to/wiki/2994/api-release-latest.html).
      operationId: getReleasesFiltersJSON
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/filters'
  /release/addproof.json:
    post:
      tags:
      - release/addproof
      description: Returns a list of public, predefined release filters. You can use
        the filter ID in [release/latest](https://www.xrel.to/wiki/2994/api-release-latest.html).
      operationId: getReleasesAddproofJSON
      parameters:
      - name: id
        in: query
        description: The API release id. You may use multiple ids, see the comment
          below.
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            type: string
      - name: image
        in: query
        description: Base64 encoded image data. You may post PNG & JPG images, with
          a maximum file size of 10 MB.
        required: true
        schema:
          type: string
          format: byte
      security:
        - xRELoAuth:
          - addproof
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addproof'
  /p2p/releases.json:
    get:
      tags:
      - p2p/releases
      description: Browse P2P/non-scene releases. Optionally add one of the following arguments to filter the list. If none is present, the a list of latest releases will be returned. Please note that the latest release list does NOT return a total number of pages. Around 1000 releases are available for browsing in that mode. per_page continues to work.
      operationId: getLatestP2PReleasesJSON
      parameters:
      - name: per_page
        in: query
        description: 'Number of releases per page. Min. 5, max. 100. (Default: 25)'
        schema:
          maximum: 100
          minimum: 5
          type: integer
      - name: page
        in: query
        description: 'Page number (1 to N).'
        schema:
          default: 1
          type: integer
      - name: category_id
        in: query
        description: P2P category ID from [p2p/categories](#paths/p2p/categories)
        schema:
          type: string
      - name: group_id
        in: query
        description: P2P P2P release group ID
        schema:
          type: string
      - name: ext_info_id
        in: query
        description: Ext Info ID
        schema:
          type: string
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/releases'
  /p2p/categories.json:
      get:
        tags:
        - p2p/categories
        description: You should avoid calling this method repeatedly and cache its result for at least
          24 hours (where possible).
        operationId: getP2PReleasesCategoriesJSON
        responses:
          200:
            description: Ok
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/categories_p2p'
  /p2p/rls_info.json:
      get:
        tags:
        - p2p/rls_info
        description: One of the two parameters is required.
        operationId: getP2PReleaseInfoJSON
        parameters:
        - name: id
          in: query
          description: f638d1cfec8d
          schema:
            type: string
        - name: dirname
          in: query
          description: The.Green.Hornet.German.AC3D.DL.1080p.BluRay.x264-HDW
          schema:
            type: string
        responses:
          200:
            description: Ok
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/release_p2p'
  /nfo/release.json:
      get:
        tags:
        - nfo/release
        description: "-"
        operationId: getNFOReleaseJSON
        parameters:
        - name: id
          in: query
          description: f638d1cfec8d
          schema:
            type: string
        security:
          - xRELoAuth:
            - nforelease
        responses:
          200:
            description: Ok
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/nfo'
  /nfo/p2p_rls.json:
      get:
        tags:
        - nfo/p2p_rls
        description: "-"
        operationId: getNFOP2PReleaseJSON
        parameters:
        - name: id
          in: query
          description: f638d1cfec8d
          schema:
            type: string
        security:
          - xRELoAuth:
            - nforeleasep2p
        responses:
          200:
            description: Ok
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/nfo'
  /calendar/upcoming.json:
    get:
      tags:
      - calendar/upcoming
      description: Please note that you can not embed (hot link) any images from our server. Download and cache the file on your box!
      operationId: getCalendarUpcomingJSON
      parameters:
        - name: country
          in: query
          description: \'de\' for upcoming movies in germany, \'us\' for upcoming movies in the US/international.
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/upcoming'
  /ext_info/info.json:
    get:
      tags:
      - ext_info/info
      description: The <plot> tag contains basic HTML. A BBCode or plain text version may be available in the future, please request. Please note that you can not embed (hot link) any images from our server. Download and cache the file on your box! The possible <own_rating> is 0 when you haven't voted yet.
      operationId: getExtInfoJSON
      parameters:
        - name: id
          in: query
          description: 15938d83baa3
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ext_info_info'
  /ext_info/media.json:
    get:
      tags:
      - ext_info/media
      description: '-'
      operationId: getExtInfoMediaJSON
      parameters:
        - name: id
          in: query
          description: 15938d83baa3
          schema:
            type: string
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ext_info_media'
  /ext_info/rate.json:
    post:
      tags:
      - ext_info/rate
      description: '-'
      operationId: getExtInfoRateJSON
      parameters:
        - name: id
          in: query
          description: 15938d83baa3
          required: true
          schema:
            type: string
        - name: rate
          in: query
          description: Rating between 1 (bad) to 10 (good). You may only vote once, and may not change your vote. Check the <own_rating> tag from the response to get the rating as displayed on the website.
          required: true
          schema:
            type: integer
            maximum: 10
            minimum: 1
      responses:
        200:
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ext_info_media'
  /search/releases.json:
    get:
      tags:
      - search/releases
      description: '-'
      operationId: getSearchReleasesJSON
      parameters:
      - name: q
        in: query
        description: Search keyword
        required: true
        schema:
          type: string
      - name: scene
        in: query
        description: Bool. If true, Scene releases will be included in the search results.
        schema:
          type: boolean
          default: true
      - name: p2p
        in: query
        description: Bool. If true, P2P releases will be included in the search results.
        schema:
          type: boolean
          default: false
      - name: limit
        in: query
        description: Number of returned search results.
        schema:
          type: integer
          maximum: 25
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/results_releases'
  /search/ext_info.json:
    get:
      tags:
      - search/ext_info
      description: '-'
      operationId: getSearchExtInfoJSON
      parameters:
      - name: q
        in: query
        description: Search keyword
        required: true
        schema:
          type: string
      - name: type
        in: query
        description: 'One of: movie|tv|game|console|software|xxx - or leave empty to search Ext Infos of all types'
        schema:
          type: string
      - name: limit
        in: query
        description: Number of returned search results.
        schema:
          type: integer
          maximum: 25
      responses:
        200:
          description: ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/results_ext_info'
components:
  schemas:
    releases:
      type: object
      properties:
        total_count:
          type: integer
        pagination:
          $ref: '#/components/schemas/pagination'
        list:
          type: array
          items:
            $ref: '#/components/schemas/release'
    filters:
      type: array
      items:
        type: object
        properties:
          id:
            type: integer
          name:
            type: string
    release:
      type: object
      properties:
        id:
          type: string
        dirname:
          type: string
        link_href:
          type: string
        time:
          type: string
        group_name:
          type: string
        size:
          $ref: '#/components/schemas/release_size'
        video_type:
          type: string
        audio_type:
          type: string
        num_ratings:
          type: integer
        tv_season:
          type: integer
        tv_episode:
          type: integer
        video_rating:
          type: number
        audio_rating:
          type: number
        ext_info:
          $ref: '#/components/schemas/release_ext_info'
        comments:
          type: integer
        proof:
          type: string
        flags:
          $ref: '#/components/schemas/release_flags'
    release_p2p:
      type: object
      properties:
        id:
          type: string
        dirname:
          type: string
        link_href: 
          type: string
        category:
          $ref: '#/components/schemas/categories_p2p'
        main_lang:
          type: string
        pub_time:
          type: integer
        post_time:
          type: integer
        size_mb:
          type: integer
        group:
          $ref: '#/components/schemas/group_p2p'
        num_ratings:
          type: integer
        ext_info:
          $ref: '#/components/schemas/release_ext_info'
        comments:
          type: integer
    ext_info:
      type: object
      properties:
        total_count:
          type: integer
        pagination:
          $ref: '#/components/schemas/pagination'
        list:
          type: array
          items:
            $ref: '#/components/schemas/release'
    ext_info_info:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        title: 
          type: string
        link_href:
          type: string
        genre:
          type: string
        alt_title:
          type: string
        cover_url:
          type: string
        uris:
          $ref: '#/components/schemas/release_ext_info_uri'
        rating:
          type: number
        num_ratings:
          type: integer
        release_dates:
          $ref: '#/components/schemas/release_dates'
        externals:
          $ref: '#/components/schemas/externals'
    ext_info_media:
      type: array
      items:
        $ref: '#/components/schemas/media'
    release_ext_info:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
        title:
          type: string
        link_href:
          type: string
        rating:
          type: number
        num_ratings:
          type: integer
        uris:
          $ref: '#/components/schemas/release_ext_info_uri'
    release_ext_info_uri:
      type: array
      items:
        type: string
    release_flags:
      type: object
      properties:
        fix_rls:
          type: boolean
        english:
          type: boolean
        nuke_rls:
          type: boolean
    release_size:
      type: object
      properties:
        number:
          type: integer
        unit:
          type: string
    pagination:
      type: object
      properties:
        current_page:
          type: integer
        per_page:
          type: integer
        total_pages:
          type: integer
    addproof:
      type: object
      properties:
        proof_url:
          type: string
        releases:
          type: array
          items:
            type: string
    categories:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
          parent_cat:
            type: string
    categories_p2p:
      type: array
      items:
        type: object
        properties:
          meta_cat:
            type: string
          sub_cat:
            type: string
          id:
            type: string
    group_p2p:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
    nfo:
      type: string
      format: byte
    upcoming:
      type: array
      items:
        type: object
    release_dates:
      type: array
      items:
        type: object
        properties:
          type:
            type: string
          date:
            type: string
            format: date
    externals:
      type: array
      items:
        type: object
        properties:
          source:
            $ref: '#/components/schemas/external_source'
          link_url:
            type: string
          plot:
            type: string
    external_source:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    media:
      type: object
      properties:
        type:
          type: string
        description:
          type: string
        time:
          type: integer
        url_full:
          type: string
        url_thumb:
          type: string
    results_releases:
      type: object
      properties:
        total:
          type: integer
        result:
          $ref: '#/components/schemas/release'
    results_ext_info:
      type: object
      properties:
        total:
          type: integer
        result:
          $ref: '#/components/schemas/ext_info'
  securitySchemes:
    xRELoAuth:
      type: "oauth2"
      description: "This API uses OAuth 2 with the implicit grant flow?"
      flows:
        implicit:   # <---- OAuth flow(authorizationCode, implicit, password or clientCredentials)
          authorizationUrl: https://api.xrel.to/v2/oauth2/auth
          scopes:
            addproof: Add Proof
            nforelease: Get NFO
            nforeleasep2p: Get P2P NFO
security: 
  - xRELoAuth: 
    - addproof
    - nforelease
    - nforeleasep2p